<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <%=require('./template-parts/header.html')%>
    <section class="section1 stacked current">
        <%=require('./template-parts/section1.html')%>
    </section>
    <section class="section2">
        <%=require('./template-parts/section2.html')%>
    </section>
    <section class="section3">
        <%=require('./template-parts/section3.html')%>
    </section>
    <section class="section4">
        <%=require('./template-parts/section4.html')%>
    </section>
    <section class="section5">
        <%=require('./template-parts/section5.html')%>
    </section>
    <div id="fakeScrollbar"></div>
    <%=require('./template-parts/footer.html')%>
</body>

</html>
